:root {
  --azul: #44ccff;
  --rosa: #e6adec;
  --verde: #b2dd45;
  --negro: #000;
  --blanco: #fff;
  --gris: #e6e6e6;
  --transparente: #fff0;
  --esquina: 8px;
  --sombra-distancia: 6px;
  --borde: 1px solid var(--negro);
}

.urbanist{
  font-family: 'Urbanist';
}

.btn-new, body a, .navbar, .slick-arrow{
  transition: all 0.3s;
}

body {
  font-size: 14px;
  font-family: 'Inter Tight';
  color: var(--negro);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

body.body-login {
  background: url('../imagenes/patron.png');
}

footer, .cuaderno, #seccion-1 .carrusel {
  z-index: 5;
  position: relative;
}

h1, h2, h3 , h4, h5, h6, .title, .btn-new, .nav-link, .destacado{
  font-family: 'Urbanist';
  font-weight: 700;
}

h1, h2{
  font-size: 2.2em;
}

h3{
  font-size: 1.8em;
}

h4{
  font-size: 1.3em;
  font-weight: 400;
}

h5{
  font-size: 1.2em;
}

p{
  font-size: 1.2em;
}

.navbar{
  background-color: var(--blanco);
  padding: 0px;
}

.navbar > .container-xxl{
  padding: 10px;
}

.navbar-collapse{
  background-color: var(--azul);
  padding: 40px;
  z-index: 100;
  margin: 10px -10px -10px;
}

.nav-link{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  color: var(--negro);
  font-weight: 800;
}

.btn-new{
  background-color: var(--azul);
  border: var(--borde);
  color: var(--negro);
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 20px;
  border-radius: var(--esquina);
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
}

.btn-new:after{
  border-radius: var(--esquina);
  border: var(--borde);
  position: absolute;
  content:'';
  width: 100%;
  height: 100%;
  top: calc(-1 * var(--sombra-distancia));
  left: calc(-1 * var(--sombra-distancia));
  z-index: -1;
}

.btn-new:hover{
  background-color: var(--blanco) !important;
  color: var(--negro);
  border: var(--borde);
}

a:hover, .nav-link:hover, .nav-link.active{
  opacity: 1;
  color: var(--blanco);
}

a .btn-new{
  text-decoration: none;
}

.container-xxl{
  max-width: 1440px;
}

footer{
  background-image: url('../imagenes/avion.svg');
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: right -5% bottom 20%;
  background-color: var(--azul);
  padding: 60px 10px 80px;
}


footer > div:first-child{
  padding: 40px 0 120px;
}


footer .nav-link{
  margin-bottom: 30px;
  text-decoration: underline;
}

footer .nav-link:hover{
  color: var(--blanco);
}

.fondo-img{
  background-size: 90%;
}

.logo-footer{
  max-width: 320px;
  height: auto;
  margin: auto;
}

.copyright{
  font-size: 0.8em;
}

.cookies, .cookies .btn-new{
  font-size: 0.9em;
}

.cookies a{
  color: var(--negro);
  font-weight: 700;
  text-decoration: underline;
}


.mark{
  background: var(--transparente);
  background: linear-gradient(180deg, var(--transparente) 65%, var(--rosa) 65%, var(--rosa) 80%, var(--transparente) 80%);
  padding: 0;
}

.mark-2{
  background: var(--transparente);
  background: linear-gradient(180deg, var(--transparente) 65%, var(--azul) 65%, var(--azul) 80%, var(--transparente) 80%);
  padding: 0;
}

.mark-3{
  background: var(--transparente);
  background: linear-gradient(180deg, var(--transparente) 65%, var(--verde) 65%, var(--verde) 80%, var(--transparente) 80%);
  padding: 0;
}

.destacado{
  color: var(--negro);
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 700;
}



.fondo-img {
  background-image: url(../imagenes/fondo-img.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
.border-estandar {
  border-radius: 0 0 20px 0;
  box-shadow: var(--sombra-distancia) var(--sombra-distancia) 0 var(--azul);
  border: 1.5px solid var(--negro);
  position: relative;
}


.punto p{
  font-size: 1em;
  margin: 0;
  line-height: 1.2;
}

.punto:after{
  position: absolute;
  width: 14px;
  border-radius: 7px;
  height: 14px;
  background-color: var(--rosa);
  top: -7px;
  left: calc(50% - 5px);
  content: '';
}

.lista-punto li{
  list-style-type: none; 
  text-indent: -0.5em;
  padding-left: 1em;
}

.lista-punto li:before {
  color: var(--rosa);
  float: left;
  margin: 0 0 0 -0.5em;
  width: 1em;
  content: '\2022';
}

/*-- HOME --*/
#seccion-1{
  padding: 60px 0;
  overflow-x: hidden;
}

.features{
  margin: 0 -20px 0 -40px;
  background: var(--transparente);
  background: linear-gradient(180deg, var(--transparente) 35%, var(--blanco) 35%);
}

.carousel-features  div {
  position: relative;
}

.carousel-features  div  p{
  position: absolute;
  bottom: 40px;
  left: 0;
  font-size: 1.5em;
  line-height: 1.2;
  font-family: 'Urbanist';
  text-align: center;
  width: 100%;
}

.carousel-features  div  p  span{
  font-size: 1.8em;
  font-weight: 900;
}

#seccion-1 .carousel-item{
  padding: 0 30px;
} 

.cuaderno{
  background-image: url('../imagenes/cuaderno2.svg');
  background-size: 105%;
  background-repeat: repeat-y;
  background-position: left -10px bottom 25%;
  padding: 20px 20px 0 40px;
}

#seccion-2{
  background-image: url('../imagenes/cuaderno-v.svg');
  background-position: left top;
  background-size: 60%;
  background-repeat: no-repeat;
}

#seccion-2 .card{
  border: none;
  background: none;
}

#seccion-2 .card:first-child{
  margin-right: 0px;
}

#seccion-2 .card:last-child{
  margin-left: 0px;
}

#seccion-2 .card-title h4{
  font-size: 1.8rem;
}

#seccion-2 ul li{
  font-weight: bold;
}

.img-card-1{
  position: relative;
  width: 95%;
  height: auto;
}

.img-card-2{
  position: relative;
  width: 95%;
  height: auto;
}

#seccion-3 .card {
  min-height: 500px;
  background-image: url(../imagenes/celular.png);
  background-position: top center;
  background-size: 95% 100%;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
#seccion-3 .card h5{
  font-size: 1.7em;
}
#seccion-4 p{
  font-size: 1.2em;
}

#seccion-4 img{
  width: 85%;
  height: auto;
}

.vaso-1 {
  background-image: url(../imagenes/vaso-1.svg);
  background-position: top right -75%;
  background-size: 80%;
  background-repeat: no-repeat;
}

.vaso-2 {
  background-image: url(../imagenes/vaso-2.svg);
  background-position: top left 2%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.circle-shadow{
  filter: drop-shadow(17px 17px 0px #23b9eb);
}

/*Price*/

#seccion-01, #seccion-02 {
  overflow: hidden;
}

#seccion-01 .list-price-1, #seccion-02 .list-price-2 {
  background: linear-gradient(180deg, var(--transparente) 15%, var(--azul) 15%, var(--azul) 85%, var(--transparente) 85%);
  z-index: 1;
}

#seccion-02 .list-price-2, body.body-login #seccion-01 .list-price-2{
  background: linear-gradient(180deg, var(--transparente) 15%, var(--rosa) 15%, var(--rosa) 85%, var(--transparente) 85%);
  z-index: 1;
}

.list-price-1 div.text-center, .list-price-2 div.text-center {
  border: 2px solid var(--negro);
  background-color: var(--blanco);
  position: relative;
  z-index: 1;
}

.list-price-1 div.text-center button.fondo-rosa, .list-price-2 div.text-center button.fondo-rosa {
  margin-bottom: -20%;
}

#seccion-03 ul, ul.check-1, ul.check-2 {
  list-style: none;
  text-indent: -1.7em;
  padding-left: 1.2rem !important;
}

#seccion-03 ul li:before {
  content: url('../imagenes/check.png');
  margin-right: 10px;
}

.cinta, .cinta-2, .cinta-3 {
  background-size: contain;
  background-position: top center;
  background-repeat: repeat-y;
  padding: 10px 0;
  margin-top: -15%;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.cinta, .cinta-2, .cinta-3 {
  background-image: url(../imagenes/cinta.svg);
}

#seccion-03 {
  margin-top: -10%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

#seccion-03 .fondo-cuaderno {
  background-image: url('../imagenes/cuaderno.png');
  background-size: 100% 63%;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

#seccion-03 div.fondo-img img.border-estandar {
  width: 92%;
  height: auto;
  margin: 20% 0 0%;
}

#seccion-03 .fondo-img {
  background-size: 75%;
  background-position: top 35px center;
}

.list-price-1 button.btn-new, .list-price-2 button.btn-new {
  font-size: 0.9rem;
}

.list-price-1 button.btn-new p, .list-price-1 button.btn-new p {
  font-size: 0.8rem;
}

.list-price-1 .col-6:nth-child(odd) .cont-price, .list-price-2 .col-6:nth-child(odd) .cont-price {
  border-radius: 0 20px 20px 0;
}

.list-price-1 .col-6:nth-child(even) .cont-price, .list-price-2 .col-6:nth-child(even) .cont-price {
  border-radius: 20px 0 0 20px;
}

/*Co-Ops*/

#seccion-001 .container-xxl {
  background-image: none;
}

#seccion-001 .fondo-img {
  background-size: 87%;
}

#seccion-001 .fondo-img img.border-estandar{
  width: 100%;
  height: auto;
  margin: 50px 0 0px 0;
}

#seccion-002{
  overflow-x: hidden;
}

#seccion-002 .cinta, #seccion-002 .cinta-2, #seccion-002 .cinta-3 {
  padding: 10px 11px;
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-top: -30px;
}

#seccion-002 ul.check-1 li:before, #seccion-002 ul.check-2 li:before {
  content: url('../imagenes/check-3.png');
  margin-right: 10px;
}


#calender {
  display: none;
}

.carpeta-verde, .hoja-1, .hoja-2 {
  background-image: none;
  background-color: var(--blanco);
  z-index: -2;
  position: relative;
  background-size: 100% 100%;
  background-image: none;
}

.hoja-1 {
  background-color: var(--azul);
  z-index: -1;
}

.hoja-2 {
  background-color: var(--rosa);
  z-index: -1;
}

/*Who we are*/

.img-full {
  width: 120%;
  height: auto;
  margin-left: -30px;
}

.fotos{
  background-image: url('../imagenes/imagen-9.png');
  background-position: top center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 7% 6.4% 3.4% 6%;
}

.fotos .slick-slide{
  padding: 10px;
  background-color: var(--blanco);
  border: var(--borde);
}

.level{
  border: 2px solid #000;
  font-size: 2.5rem;
}

.level.next:after {
  content: url(../imagenes/arror-next.png);
  position: absolute;
  margin-left: 30%;
  font-size: 4rem;
  margin-top: -14px;
  color: var(--negro);
}

.level.back:after {
  content: url(../imagenes/arror-back.png);
  position: absolute;
  margin-left: -50%;
  font-size: 4rem;
  margin-top: -15px;
  color: var(--negro);
}

#logos {
  background-image: url(../imagenes/cuadro-gris.png);
  background-position: top 30px center;
  background-size: 95% 100%;
  background-repeat: no-repeat;
}

#logos div.cinta, #logos .cinta-2, #logos .cinta-3 {
  background-size: 100%;
  background-position: top center;
  background-repeat: repeat-y;
  padding: 10px 0;
  margin-top: 5px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: -15%;
}

#logos div.cinta {
  background-image: url('../imagenes/cinta.svg');
}
#logos .cinta-2 {
  background-image: url('../imagenes/cinta-3.svg');
}
#logos .cinta-3 {
  background-image: url('../imagenes/cinta-2.svg');
}

.cont-logos{
  border: 2px solid #000;
  border-radius: 25px;
  background-color: var(--blanco);
  box-shadow: var(--sombra-distancia) var(--sombra-distancia) 0 var(--verde);
}

/*Start now*/

.cal-m{
  margin-bottom: -30px;
}

.fondo-calendario {
  background-image: none;
  background-color: var(--rosa);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.fondo-calendario .inner iframe{
  height: 890px;
  width: 100%;
}

.fondo-calendario .inner .calendly-inline{
  min-width: 320px;
  height: 855px;
}

.lineas-verdes{
  background-image: url('../imagenes/lineas-verde.png');
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
}

.lineas-verdes .sec-1{
  background-color: var(--blanco);
  border: 2px solid #000;
  position: relative;
  z-index: 1;
  max-width: 800px;
  margin: auto;
}

/*Login*/
body.body-login #seccion-01, body.body-login #seccion-03{
  background-color: var(--blanco);
  z-index: -1;
  position: relative;
}

body.body-login #seccion-03{
  margin-top:0;
}

body.body-login #seccion-01{
  margin-top: 100px !important;
}

body.body-login #seccion-03 div.fondo-img img.border-estandar {
  width: 92%;
  height: auto;
  margin: 13% 0 15%;
}

.form-container, .contact-form {
  background-color: var(--blanco);
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: var(--sombra-distancia) var(--sombra-distancia) 0 var(--azul);
  border: 1.5px solid var(--negro);
}
.form-container h1, .contact-form h2 {
  font-weight: bold;
  text-align: center;
}
.form-container label, .contact-form label, input[type=text], select, option{
  font-weight: 700 !important;
  font-family: 'Urbanist';
}

input[type=text], input[type=email], select, textarea{
  background-color: var(--gris) !important;
  border: 1px solid var(--negro) !important;
}

option:hover {
  background: var(--azul);
}

.form-container button[type=submit]{
  margin-bottom: -50px;
}

/* sign-up */


.slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  height: 40px;
  width: 40px;
  opacity: 1;
  border: var(--borde);
  border-radius: 50%;
  background: var(--blanco);
  box-shadow: 3px 3px 0px var(--verde);
  background-size: 65%;
  z-index: 30;
  color: transparent;
}

.slick-prev {
  background-image: url('../imagenes/prev.svg') !important;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  left: -20px;
}

.slick-next {
  background-image: url('../imagenes/next.svg') !important;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  right: -20px;
}

.slick-arrow:hover {
  position: absolute;
  background-color: var(--azul);
}

@media only screen and (min-width : 767px) and (max-width : 991px) {
/*-- HOME --*/
.cuaderno{
  background-image: url('../imagenes/cuaderno.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top -10px right -50%;
  padding: 20px 0 0;
}

#seccion-2 {
  background-image: url('../imagenes/recuadro.svg');
  background-position: center top;
  background-size: 70%;
  background-repeat: no-repeat;
}

.vaso-1 {
  background-image: url(../imagenes/vaso-1.svg);
  background-position: top right 2%;
  background-size: 35%;
  background-repeat: no-repeat;
}

.vaso-2 {
  background-image: url(../imagenes/vaso-2.svg);
  background-position: top left 2%;
  background-size: 30%;
  background-repeat: no-repeat;
}
footer{
  background-image: url('../imagenes/avion.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right 20px bottom 20%;
  padding: 60px 10px 200px;
}
#seccion-03 .fondo-cuaderno {
  background-size: 100%;
  background-position: top left -1%;
}
#seccion-03 .fondo-img {
  background-position: center;
}
}

@media screen and (min-width: 992px) {

  body {
    font-size: 16px;
    background-image: url(../imagenes/linea-body.svg);
    background-size: 94%;
    background-repeat: no-repeat;
    background-position: top 10% right -20%;
  }

  body.body-login {
    background: url('../imagenes/patron.png');
  }
  
  .navbar{
    background-color: var(--transparente);
  }
  
  .navbar.scrolled{
    background-color: var(--blanco);
    border-bottom: var(--borde);
  }
  
  .navbar > .container-xxl{
    padding: 10px;
  }
  
  .navbar-collapse{
    background-color: var(--transparente);
    padding: 0;
    margin: 0;
  }
  
  .nav-link{
    font-size: 0.8em;
  }
  
  footer{
    background-image: url('../imagenes/avion.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left 0 bottom 20%;
    padding: 60px 10px 200px;
  }
  
  a:hover, .nav-link:hover, .nav-link.active{
    opacity: 1;
    color: var(--azul);
  }
  
  h1, h2{
    font-size: 3.5em;
  }
  
  h3{
    font-size: 2em;
  }
  
  h4{
    font-size: 1.3em;
  }
  
  h5{
    font-size: 1.5em;
  }
  
  p{
    font-size: 1.1em;
  }
  
  .btn-new{
    font-size: 0.9em;
    padding: 10px 12px;
    letter-spacing: 1.7px;
  }

  .border-md-start{
    border-left: var(--borde);
  }
  
  /*-- HOME --*/
  .cuaderno{
    background-image: url('../imagenes/cuaderno.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top -10px right 0px;
    padding: 20px 0 0;
  }
  
  #seccion-1{
    padding: 0;
    overflow-x: hidden;
  }
  
  .features{
    margin: 0;
    padding: 0 50px 0 0 ;
    background: var(--transparente);
  }
  
  .carousel-features{
    padding: 0;
  }
  
  .carousel-features  div  p{
    bottom: 20px;
    font-size: 1.2em;
  }
  
  .carousel-features  div  p  span{
    font-size: 1.8em;
  }

  #seccion-1 h1{
    max-width: 70%;
  }

  #seccion-2 h2, #seccion-2 h4{
      max-width: 1280px;
      margin: auto;
    }
  
  
    #seccion-2  .card{
      border: var(--borde);
      border-radius: var(--esquina);
      background-color: var(--blanco);
    }
  
    
  #seccion-2 {
      background-image: url('../imagenes/recuadro.svg');
      background-position: center bottom;
      background-size: 85%;
      background-repeat: no-repeat;
    }
  
  #seccion-2 .card{
    min-height: 420px;
  }
  
  #seccion-2 .card:nth-child(1){
    margin-right: -10px;
  }
  
  #seccion-2 .card:nth-child(3){
    margin-left: -10px;
  }

  #seccion-3 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #seccion-3 .card {
    min-height: 570px;
    background-image: url(../imagenes/celular.png);
    background-position: top center;
    background-size: 95% 100%;
    background-repeat: no-repeat;
  }
  
  #seccion-3 .card h5{
    font-size: 1.4em;
  }
  
  .img-card-1{
    position: absolute;
    width: 83%;
    height: auto;
  }
  
  .img-card-2{
    position: absolute;
    width: 85%;
    height: auto;
  }
  
  #seccion-4 img{
    width: 65%;
    height: auto;
  }
  
  .vaso-1 {
    background-image: url(../imagenes/vaso-1.svg);
    background-position: top right;
    background-size: 30%;
    background-repeat: no-repeat;
  }
  
  .vaso-2 {
    background-image: url(../imagenes/vaso-2.svg);
    background-position: top left 5%;
    background-size: 27%;
    background-repeat: no-repeat;
  }

  /*Price*/

  .list-price-1 div.text-center, .list-price-2 div.text-center {
    border-radius: 20px !important;
  }

  #seccion-03 .fondo-cuaderno {
    background-size: 51% 101%;
    background-position: top left -1%;
  }

  #seccion-03 div.fondo-img{
    background-position: top 65% center;
    background-size: 80%;
  }

  #seccion-03 div.fondo-img img.border-estandar{
    width:80%; 
    height:auto; 
    margin: 25% auto 15%;
  }

  .cinta, .cinta-2, .cinta-3 {
    background-size: contain;
    padding: 10px 0;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .list-price-1 button.btn-new, .list-price-2 button.btn-new {
    font-size: 1rem;
  }

  .list-price-1 button.btn-new p, .list-price-1 button.btn-new p {
    font-size: 0.9rem;
  }

  /*Co-Ops */

  #seccion-001 .fondo-img {
    background-size: 100%;
}

  #seccion-001 .container-xxl {
    background-image: url('../imagenes/tablet.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.carpeta-verde, .hoja-1, .hoja-2 {
    background-size: 97% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.carpeta-verde {
    background-image: url('../imagenes/carpeta.png'); background-size: 100% 100%;
}

.hoja-1 {
    background-image: url('../imagenes/hoja-1.png');
}

.hoja-2 {
    background-image: url('../imagenes/hoja-2.png');
}

.cinta-2 {
    background-image: url('../imagenes/cinta-2.svg');
}

.cinta-3 {
    background-image: url('../imagenes/cinta-3.svg');
}

#seccion-002 ul.check-1 li:before {
  content: url('../imagenes/check-2.png');
  margin-right: 10px;
}

#seccion-002 ul.check-2 li:before {
  content: url('../imagenes/check.png');
  margin-right: 10px;
}

#seccion-002 .cinta, #seccion-002 .cinta-2, #seccion-002 .cinta-3 {
  padding: 10px 20px;
  font-size: 0.9rem;
}


/*Who we are*/
.img-full{
  width: 100%;
  height: auto;
  margin: auto;
}

.fotos {
  padding: 2.8% 2.4% 1.3% 2.4%;
}

.level.next:after, .level.back:after {
  content: url(../imagenes/arror.png);
  position: absolute;
  margin-left: 36px;
  font-size: 4rem;
  margin-top: -15px;
  color: var(--negro);
}

#logos {
  background-position: top 30px center;
  background-size: cover;
}

/*Start now*/
.fondo-calendario {
  background-color: transparent; 
}

.fondo-calendario .inner iframe{
  height: 695px;
  max-width: 1080px;
  background-image: url(../imagenes/calendario.png);
  background-size: 90% 95%;
    background-position: 20% 50%;
  background-repeat: no-repeat;
  padding-top: 18px;
}

.fondo-calendario .inner .calendly-inline{
  min-width: 630px;
  height: 855px;
}

/*login*/
body.body-login #seccion-03 div.fondo-img img.border-estandar {
  width: 80%;
  height: auto;
  margin: 15% auto 15%;
}

}
  

  
  .fondo-azul{
    background-color: var(--azul);
  }
  .fondo-rosa{
    background-color: var(--rosa) !important;
  }
  .fondo-verde{
    background-color: var(--verde);
  }
  .fondo-blanco{
    background-color: var(--blanco);
  }