:root {
    --azul: #44ccff;
    --rosa: #e6adec;
    --verde: #b2dd45;
    --negro: #000;
    --blanco: #fff;
  }

  @media only screen and (min-width: 767px) {

    body {
      font-size: 16px;
      background-image: url(../imagenes/linea-body.svg);
      background-size: 94%;
      background-repeat: no-repeat;
      background-position: top 0% left 0%;
    }
    
    .navbar{
      background-color: var(--transparente);
    }
    
    .navbar.scrolled{
      background-color: var(--blanco);
      border-bottom: var(--borde);
    }
    
    .navbar > .container-xxl{
      padding: 10px;
    }
    
    .navbar-collapse{
      background-color: var(--transparente);
      padding: 0;
      margin: 0;
    }
    
    .nav-link{
      font-size: 0.8em;
    }
    
    footer{
      background-image: url('../imagenes/avion.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: left 0 bottom 20%;
    }
    
    a:hover, .nav-link:hover, .nav-link.active{
      opacity: 1;
      color: var(--azul);
    }
    
    footer .btn-new, .navbar .btn-new{
      font-size: 0.7em;
    }
    
    h1, h2{
      font-size: 2.5em;
    }
    
    h3{
      font-size: 1.5em;
    }
    
    h4{
      font-size: 1.4em;
    }
    
    h5{
      font-size: 1.6em;
    }
    
    p{
      font-size: 1em;
    }
    
    .btn-new{
      font-size: 0.9em;
      padding: 10px 15px;
      letter-spacing: 1.7px;
    }
    
    
    /*-- HOME --*/
    .cuaderno{
      background-image: url('../imagenes/cuaderno.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top -10px right 0px;
      padding: 20px 0 0;
    }
    
    #seccion-1{
      padding: 0;
      overflow-x: hidden;
    }
    
    .features{
      margin: 0;
      padding: 0 50px 0 0 ;
      background: var(--transparente);
    }
    
    .carousel-features{
      padding: 0;
    }
    
    .carousel-features  div  p{
      bottom: 20px;
      font-size: 1.2em;
    }
    
    .carousel-features  div  p  span{
      font-size: 1.8em;
    }
    
    #seccion-2 h2, #seccion-2 h4{
        max-width: 800px;
        margin: auto;
      }
    
    
      #seccion-2  .card{
        border: var(--borde);
        border-radius: var(--esquina);
        background-color: var(--blanco);
      }
    
      
    #seccion-2 {
        background-image: url('../imagenes/recuadro.svg');
        background-position: center bottom;
        background-size: 90%;
        background-repeat: no-repeat;
      }
    
    #seccion-2 .card{
      min-height: 420px;
    }
    
    #seccion-2 .card:nth-child(1){
      margin-right: -10px;
    }
    
    #seccion-2 .card:nth-child(3){
      margin-left: -10px;
    }
    
    #seccion-3 .card {
      min-height: 420px;
      background-image: url(../imagenes/celular.png);
      background-position: top center;
      background-size: 95% 100%;
      background-repeat: no-repeat;
    }
    
    #seccion-3 .card h5{
      font-size: 1.4em;
    }
    
    .img-card-1{
      position: absolute;
      width: 83%;
      height: auto;
    }
    
    .img-card-2{
      position: absolute;
      width: 85%;
      height: auto;
    }
    
    #seccion-4 img{
      width: 65%;
      height: auto;
    }
    
    .vaso-1 {
      background-image: url(../imagenes/vaso-1.svg);
      background-position: top right;
      background-size: 30%;
      background-repeat: no-repeat;
    }
    
    .vaso-2 {
      background-image: url(../imagenes/vaso-2.svg);
      background-position: top left 5%;
      background-size: 27%;
      background-repeat: no-repeat;
    }
  
    /* Co-Ops */
  
    #seccion-001 .container-xxl {
      background-image: none;
    }

    .carpeta-verde{ background-image: none; background-color: var(--blanco); z-index: -2; position: relative; background-size: 100% 100%;}
    .hoja-1{ background-image: none; background-color: var(--azul); z-index: -1;}
    .hoja-2{ background-image: none; background-color: var(--rosa); z-index: -1;}
  }
    

    
    .fondo-azul{
      background-color: var(--azul);
    }
    .fondo-rosa{
      background-color: var(--rosa) !important;
    }
    .fondo-verde{
      background-color: var(--verde);
    }
    .fondo-blanco{
      background-color: var(--blanco);
    }